.sidenav-container {
  height: 100%;
  z-index: 1000;
}

mat-sidenav {
  height: auto !important
}

.sidenav {
  width: 200px;
}

mat-list-item {
  color: #ffffff!important;
  font-family: nimbus-sans, Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
  background: transparent;
  font-family: nimbus-sans, Roboto, "Helvetica Neue", sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
}

.mat-list-base .mat-list-item {
  font: normal normal normal 16px/22px Nimbus Sans;
  color:lightgrey;
  a {
    text-decoration: none;
    color:lightgrey;
  }
  
  a:hover, a:active {
    color: white;
  }
}


