.app-root {
    color: #ffffff!important;
    //background-color: yellow;
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/hero/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}