.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

 .mat-toolbar {
  background: #0B0C08;
  font: normal normal normal 16px/22px Nimbus Sans;
  color: #ffffff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-drawer {
  background: #0B0C08;
  font: normal normal normal 16px/22px Nimbus Sans;
  color: #ffffff;
  z-index: 10000;
  height: fit-content;

}

.mat-list-base .mat-list-item {
  font: normal normal normal 16px/22px Nimbus Sans;
  color: #ffffff;

}
