@use '~@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/dlm3sbo.css");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: nimbus-sans, Roboto, "Helvetica Neue", sans-serif;
}

.logo {
  width: 150px;
  height: 30px;
  margin-top: 30px;
}

mat-card {
  // Adds a shadow for elevation level 2 with default color and full opacity:
  @include mat.elevation(10);
  padding: 40px;
  margin-left: 30px;
  margin-right: 40px;
}

.profile-toolbar {
  margin-top: 75px;
  text-align: left;
  font: normal normal 600 25px/30px Gibson;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
  margin:0;
}

.uppercase {
  text-transform: uppercase;
}

