<footer class='app-footer'>
  <mat-toolbar class='footer' color='primary'>
    <mat-toolbar-row fxFlexFill fxLayout='column' fxLayoutGap='25px'>
      <div>
        <img alt="logo" class='logo' src="../assets/logo red.svg" />
      </div>
      <div fxLayout='row' fxLayoutAlign='center' fxFlexFill fxFlex.xs='100%'>
        <mat-nav-list fxLayout='row' fxFlexAlign='center' >
          <div fxLayout='row' fxLayout.xs='column'>
            <a mat-list-item fxFlexOffset='1' routerLink='/home'> Contact Us </a>
            <a mat-list-item fxFlexOffset='1' routerLink='/FAQs'> FAQs </a>
            <a mat-list-item fxFlexOffset='1' routerLink='/purchasePass'> Terms & Conditions </a>
          </div>
          <div fxLayout='row' fxFlexAlign='start' fxLayoutAlign="start" position='end' fxLayout.xs='column'>
            <a mat-list-item fxFlexOffset='2' routerLink='/my-account'> Privacy Policy </a>
            <a mat-list-item fxFlexOffset='2' routerLink='/my-account'> Cookies Policy </a>
          </div>
        </mat-nav-list>
      </div>
      <p>2019 MatchRoomGo All Rights Reserved</p>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>