.footer {
    color: #ffffff!important;
    font: normal normal normal 14px/17px Gibson;
    z-index: 50;
}

.app-footer {
    color: #ffffff!important;
    a {
        text-align: left;
        font: normal normal normal 14px/17px Gibson;
        letter-spacing: 0px;
        color: #ffffff;
        text-transform: capitalize;
        opacity: 1;
    }
}