<mat-drawer-container fxFlex fxFlexLayout='row' fxFlexFill [class.drawer-opened]="drawer.opened"
  class="account-container">
  <mat-drawer #drawer class="drawer" mode="side" opened="true">
    <div fxLayout="column" fxLayoutGap='45px'>
      <mat-toolbar class="header">
        <mat-card-header> My Account</mat-card-header>
        <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
      </mat-toolbar>

      <div class="drawer-contents" fxFlex fxFlexLayout='column'>
        <a mat-button [routerLink]="'/accounts'"> Accounts </a>
        <a mat-button [routerLink]="'/create-account'"> Create Account </a>
        <a mat-button [routerLink]="'/contacts'"> Contacts </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> Activities </a>
        <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>
      </div>
    </div>

  </mat-drawer>
  <mat-drawer-content fxFlex fxFlexLayout='row' fxFlexFill>
    <mat-toolbar class="profile-toolbar">
      <mat-icon *ngIf="!drawer.opened" (click)="drawer.toggle()">
        menu
      </mat-icon>
      <mat-card-header> My Profile</mat-card-header>
    </mat-toolbar>
    <form fxFlex fxFlexLayout='row' fxFlexFill> 
      <mat-card fxFlex fxFlexLayout='row' fxFlexFill> 
        
        <mat-card-content fxLayout='column'> 
          <label for='name'>name</label>
          <mat-form-field> 
           
            <input matInput  name='name'>
          </mat-form-field>
          <label for='lastname'>last Name</label>
          <mat-form-field> 
            
            <input matInput   name='lastname'>
          </mat-form-field>
          <label for='email'>email</label>
          <mat-form-field> 
           
            <input matInput  type='email'  name='email'>
          </mat-form-field>
            
        </mat-card-content>
        <mat-card-footer> 
          <mat-toolbar class="main footer">
            <button color='warn' mat-raised-button (click)="drawer.toggle()">update my profile</button>
          </mat-toolbar>
        </mat-card-footer>
      </mat-card>
    </form>
   
  </mat-drawer-content>
</mat-drawer-container>