<mat-drawer-container fxFlex fxFlexLayout='row' fxFlexFill [class.drawer-opened]="drawer.opened"
  class="account-container">
  <mat-drawer #drawer class="drawer" mode="side" opened="true">
    <div fxLayout="column" fxLayoutGap='45px'>
      <mat-toolbar class="header">
        <mat-card-header> My Account</mat-card-header>
        <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
      </mat-toolbar>

      <div class="drawer-contents" fxFlex fxFlexLayout='column'>
        <a mat-button [routerLink]="['profile']" > my profile </a>
        <a mat-button [routerLink]="'/create-account'"> Billing details </a>
        <a mat-button [routerLink]="'/contacts'"> active subscriptions </a>
        <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
        <a mat-button [routerLink]="'/activities'"> recent transactions </a>
      </div>
    </div>

  </mat-drawer>
  <mat-drawer-content fxFlex fxFlexLayout='row' fxFlexFill>
    <mat-toolbar class="profile-toolbar">
      <mat-icon *ngIf="!drawer.opened" (click)="drawer.toggle()">
        menu
      </mat-icon>
      <mat-card-header> My Profile</mat-card-header>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>