@import "../../screen-breakpoint-mixin";

.account-container {
    min-height: calc(100vh - 160px);
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;

    @include for-phone-only {
        padding-top: 0px;
        min-height: calc(100vh - 340px);
    }
}

.header {
    margin-left: 30px;
    font: normal normal 600 35px/42px Gibson;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    text-transform: uppercase;
    background: #0b0c08 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
}

.close {
    align-self: flex-end;
    color: #ffffff;
}

.drawer-contents {
    text-align: left;
    font: normal normal 600 35px/42px Gibson;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    text-transform: uppercase;
    background: #0b0c08 0% 0% no-repeat padding-box;
    opacity: 1;
    div {
        border-top: 1px solid #d2b085;
    }

    div:last-child {
        border-bottom: 1px solid #d2b085;
    }
    a {
        min-height: 60px;
        margin: 0;
        padding-top: 15px;
        padding-left: 30px;
        mat-icon {
            padding-right: 20px;
        }
    }
}

.title-group {
    h1 {
        text-transform: uppercase;
    }
}

mat-drawer-content {
    padding-top: 0;
    min-height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    align-items: flex-center;
}

mat-drawer {
    background: #0b0c08 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 400px;
}

mat-toolbar {
    height: 100px;
}

mat-card {
    margin: 20px;
}
