<mat-drawer-container fxFlex fxFlexLayout='row' fxFlexFill [class.drawer-opened]="drawer.opened"
  class="account-container">
  <mat-drawer #drawer class="drawer" mode="side" opened="true">
    <div fxLayout="column" fxFlexFill fxLayoutGap='45px'>
      <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
      <mat-toolbar class="header">
        <mat-card-header> My Account</mat-card-header>
      </mat-toolbar>

      <div class="drawer-contents"  fxLayout='column'>
        <div >
          <a mat-button [routerLink]="['profile']">
            <mat-icon>account_box</mat-icon> my profile
          </a>
        </div>

        <div >
          <a mat-button [routerLink]="['billing']">
            <mat-icon>article</mat-icon> Billing details
          </a>
        </div>

        <div >
          <a mat-button [routerLink]="['subscriptions']">
            <mat-icon>not_started</mat-icon> active subscriptions
          </a>
        </div>

        <div >
          <a mat-button [routerLink]="['transactions']">
            <mat-icon>trending_flat</mat-icon> recent transactions
          </a>
        </div>
      </div>
    </div>

  </mat-drawer>
  <mat-drawer-content fxFlex fxFlexLayout='row' fxFlexFill fxLayoutGap='45px'>
    <mat-icon *ngIf="!drawer.opened" (click)="drawer.toggle()">
      menu
    </mat-icon>
    <mat-toolbar class="profile-toolbar">

      <mat-card-header> {{title}}</mat-card-header>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>